.divider {
    height: 5px;
    width: 50%;
    margin: auto;
    margin-bottom: 5vh;
    background: #4285F4;
    border-radius: 100px;
}



.footer {
    background: #ededed;
    padding: 5px 0px;
}

.Landing__address {
    color: #b1b1b1;
    padding: 7px 15px;
}

.Landing__address h4 {
    color: black;
}

@media only screen and (max-width: 600px) {

    .Landing__address {
        font-size: 80%;
    }

    .Landing__address h4 {
        font-size: 100%;
    }
}

.customTweetContainer
{
    display: inline-block;
    justify-content: center;
    font-family: "Helvetica Neue", Roboto, "Segoe UI", Calibri, sans-serif;
    font-size: 8px;
    font-weight: bold;
    line-height: 16px;
    border-color: #eee #ddd #bbb;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
    margin: 10px 5%;
    padding: 0 16px 16px 16px;
    overflow: scroll;
    height:400px;
}
